footer{
    width: 100%;
}

.iconosredes{
    text-align: center;
}

.ajusteicono{
    display: inline-flex;
    margin: 50px 35px;
}

.textofooter{
    text-align: center;
    background-color: salmon;
    color: aliceblue;
}

.titulo{
    color: rgb(0, 0, 71);
    font-family: cursive;
    text-align: center;
    margin-top: auto;
    margin: 8px;
}

.video{
    text-align: center;
}


.subtitulo{
    color: salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center  ;
    margin: 40px;
}

.Parrafo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}


.subtitulo2{
    color: salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center  ;
    margin: 40px;
}

.video2{
    text-align: center;
}

.subtitulo4{
    color: salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center  ;
    margin: 40px;
}

.caja{
    display: flex;
    justify-content: center;
}